head{
    text-align: center;
}
.introduction{
    display: flex;
    justify-content: center;
    gap: 20px ;
    flex-wrap: wrap;
}
.introduction img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid bisque;
}
.introduction h2{ 
    justify-content: center;

}
.introduction p {
    justify-content: center;
    max-width: 200px;
}
.galerie{

    display: flex;
    justify-content: center;
    gap: 20px;
 }
figure{
    border: 1px solid;
    width: 350px;

}
figure img {
    width: 10%;
    height: auto;
}

