body {
    background: linear-gradient(to right, rgb(201, 240, 255), rgb(255, 255, 255));
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.galerie {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    width: auto;
}

figure {
    border: 1px solid #ddd;
    width: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    background: white;
}


h2 {
    text-align: center;
    margin-top: 40px;
}
nav a:hover{
    color: rgb(93, 144, 205);
}
footer{
    text-align: center;
    
}
