body{ 
   
    background: linear-gradient(to right, rgb(201, 240, 255), rgb(255, 255, 255));
}
header{
    text-align: center;
    background:linear-gradient(to right, rgb(201, 240, 255), rgb(255, 255, 255));

}    


footer{
    text-align: center;
    justify-content: bottom;
}
nav a:hover{
    color: rgb(93, 144, 205);
}