body{
    background:linear-gradient(to right, rgb(201, 240, 255), rgb(255, 255, 255));
}
header{
    text-align: center;
}
.introduction{
    display: flex;
    justify-content: center;
    gap: 20px ;
    flex-wrap: wrap;
}
.introduction img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid rgb(101, 133, 167);
}
.introduction h2{ 
    justify-content: center;

}
.introduction p {
    justify-content: center;
    max-width: 200px;
}
.galerie{

    display: flex;
    justify-content: center;
    gap: 350px;
 }
figure{
    border: 1px solid;
    width: 20px;

}

footer{
    text-align: center;
}
video{
    width:100%;
    height:auto;
    justify-content:center;
    text-align:center;
}
