body{
    background: linear-gradient(to right, rgb(201, 240, 255), rgb(255, 255, 255));
}
header{
    text-align: center;
    background:linear-gradient(to right, rgb(201, 240, 255), rgb(255, 255, 255));

}    

div{
  
    display: grid;
    height: 100px ;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px;
    border: 1px solid black;
    justify-content: center;
    align-content: center;
}



th {
 color: black;
 justify-content: center;
 display: flex;
 text-align: center;
 background-color:lightblue;
}
footer{
    text-align: center;
    justify-content: bottom;
}